/* Secciones */
.section {
  margin-bottom: 1rem;
}

/* Card */
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

/* Tabla */
table {
  width: 100%;
}

/* Flex layout */
.bounds {
  background-color:#ddd;
  height :400px;
}

.sec1 {
  background: red;
  color:white;
  text-transform: uppercase
}

.sec2 {
  background: yellow;
  color:blue;
  text-transform: uppercase
}

.sec3 {
  background: blue;
  color:white;
  text-transform: uppercase
}

.sec1, .sec2, .sec3 {
  padding-top:20px;
  text-align:center
}

.content {
  min-width: 300px;
}

.button {
  margin: 1rem;
}

