<!-- Traducciones -->
<section class="section">
  {{'APP.TITLE' | translate}}<br>
  {{title | translate}}<br>
  {{title2 | translate}}<br>
  {{'APP.HELLO' | translate: param}}<br>
  <!-- Custom pipe-->
  <p>{{'HOLA' | reverse}}</p>
  <!-- Directiva custom -->
  <p appHighlight>{{'HOLA'}}</p>
  <p appHighlight highlightColor="red">{{'HOLA'}}</p>
</section>

<!-- Grid -->
<section class="section">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>
</section>

<!-- Flex layout -->
<section class="section">
  <div class="bounds">
    <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
      <div fxFlex="15" class="sec1" fxFlex.xs="55">
        first-section
      </div>
      <div fxFlex="30" class="sec2" >
        second-section
      </div>
      <div fxFlex="55" class="sec3" fxFlex.xs="15">
        third-section
      </div>
    </div>
  </div>
</section>

<!-- Card -->
<section class="section">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</section>

<!-- Expansion panel & table -->
<section class="section">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <!-- Cabecera -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        Panel colapsable
      </mat-panel-title>
      <mat-panel-description>
        Estoy {{panelOpenState ? 'abierto' : 'cerrado'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- Cuerpo --> <!-- Tabla con paginación -->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No.</th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight</th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol</th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-expansion-panel>
</section>

<!-- Observables -->
<button mat-raised-button color="accent" class="button" type="button" (click)="sendMessage()">
  <mat-icon>forward_to_inbox</mat-icon>
  Send Message
</button>
<button mat-raised-button color="accent" class="button" type="button" (click)="clearMessages()">
  <mat-icon>clear</mat-icon>
  Clear Messages
</button>

<!-- Component -->
<section class="section">
  <app-section-one
    [formFields]="formFields"
    (saveForm)="saveForm($event)">
  </app-section-one>
</section>
